body {
   background-image: url(../images/contactbg.jpg);
   background-repeat: no-repeat;
   background-size: cover;
}

.containerc {
   width: 85%;
   margin: auto;
   overflow: hidden;
 }

.contact {
   background-color: #f4f4f4;
   margin-top: 50px;  
   border-radius: 15px;
   padding-top: 50px;
   padding-bottom: 10px;
}

.contact-container {
   width: 80%;
   margin: auto;
   overflow: hidden;
}

.contact h1 {
   font-size: 2.5em;
   font-weight: bolder;
   padding-bottom: 20px;
}

.info {
   float: left;
   width: 50%;
}

.contact-form input[type="text"], .contact-form input[type="email"]{
   width: 95%;
   background-color: #f4f4f4;
   border-color: rgb(192, 191, 191);
   border-top: 0;
   border-right: 0;
   border-left: 0;
   margin-top: 12px;
   padding-bottom: 13px;
   outline-color: #f4f4f4;
   font-size: 18px;
   color: #444;
}

.contact-form input[type="text"]:hover, .contact-form input[type="email"]:hover{
   border-color: #3d155f;
}

.contact-form textarea {
   width: 99%;
   background-color: #f4f4f4;
   border-color: rgb(192, 191, 191);
   border-top: 0;
   border-left: 0ch;
   border-right: 0;
   border-width: 3px;
   margin-top: 12px;
   outline-color: #f4f4f4;
   font-size: 20px;
   color: #444;
}

.contact-form textarea:hover {
   border-color: #3d155f;
}

#send-button {
   background-color: #333;
   color: #fff;
   padding: 15px 51px;
   border: none;
   border-radius: 5px;
   font-size: 20px;
   margin-top: 10px;
   width: 100%;
 }

#send-button:hover {
   background-color: #444;
}

#phonenum {
   color: #3d155f;
}