#forg{
    margin-top: 90px;
    font-size: 3em;
    text-align: center;
    color: #333;
}
#forget-box{
    width: 40%;
    margin: auto;
    overflow: hidden;
    padding: 25px;
}
#forg-form {
    width: 95%;
    background-color: #f4f4f4;
    border-color: rgb(192, 191, 191);
    border-top: 0;
    border-right: 0;
    border-left: 0;
    margin-top: 12px;
    padding-bottom: 13px;
    outline-color: #f4f4f4;
    font-size: 18px;
    color: #444;
}
#forg-form:hover{
    border-color:#3d155f ;
}